<div class="container-curriculum">
  <section id="title">
    <h1>DANIEL POMPA PAREJA</h1>
    <h2>TÉCNICO EN SISTEMAS MICROINFORMÁTICOS Y REDES,</h2>
    <h2>TÉCNICO SUPERIOR EN DESARROLLO DE APLICACIONES MULTIPLATAFORMA</h2>
  </section>

  <section class="personal-information">
    <h3>INFORMACIÓN PERSONAL</h3>
    <p><span>Teléfonos:</span>91 676 99 81 - 648 11 99 48</p>
    <p><span>E-mail:</span>daniel.pompa@gmail.com</p>
    <p>
      <span>URL LinkedIn:</span>
      <a href="http://www.linkedin.com/in/daniel-pompa-pareja">http://www.linkedin.com/in/daniel-pompa-pareja</a>
    </p>
  </section>

  <section class="summary">
    <h3>RESUMEN</h3>
    <p>Soy una persona responsable, organizada, entusiasta de las nuevas tecnologías y con muchas ganas de aprender.</p>
    <p>Mi objetivo profesional es formar parte de una empresa que ofrezca oportunidades en la que pueda conseguir
      experiencia, pueda poner en práctica los conocimientos adquiridos durante mis años de formación y que permita
      desarrollarme profesionalmente.</p>
  </section>

  <section class="work-experience">
    <h3>EXPERIENCIA PROFESIONAL</h3>
    <div class="data-experience">
      <div class="company">
        <p>2011 – 2020 Segurevent S.L.</p>
        <p>2020 - 2020 Evicertia S.L.</p>
        <p>2018 – 2018 Eptisa Servicios de Ingeniería S.L.</p>
      </div>
      <div class="description">
        <p>Encargado de seguridad en locales de ocio y eventos.</p>
        <p>Desarrollador. Resolución de fallos de software.</p>
        <p>Técnico de sistemas. Soporte informático a usuarios finales.</p>
      </div>
    </div>
  </section>

  <section class="studies">
    <h3>ESTUDIOS</h3>
    <div class="data-studies">
      <div class="company-studies">
        <p>2018 – 2020 IES Villablanca</p>
        <p>2016 – 2018 IES Villablanca</p>
      </div>
      <div class="description-studies">
        <p>CFGS Desarrollo de Aplicaciones Multiplataforma</p>
        <p>CFGM Sistemas Microinformáticos y Redes</p>
      </div>
    </div>
  </section>

  <section class="complementary-training">
    <h3>FORMACIÓN COMPLEMENTARIA</h3>
    <div class="data-studies">
      <div class="company-studies-complementary-training">
        <p>2020 – Udemy</p>
        <p>2020 – Udemy</p>
        <p>2020 – Udemy</p>
        <p>2020 – Udemy</p>
        <p>2020 – OpenWebinars</p>
        <p>2020 – OpenWebinars</p>
        <p>2020 – OpenWebinars</p>
        <p>2020 – OpenWebinars</p>
        <p>2020 – OpenWebinars</p>
        <p>2019 – OpenWebinars</p>
        <p>2019 – OpenWebinars</p>
        <p>2019 – OpenWebinars</p>
      </div>
      <div class="description-studies-complementary-training">
        <p>Curso Angular</p>
        <p>Curso Desarrollo web con Spring Boot</p>
        <p>Curso JavaScript, jQuery, TypeScript, Angular, NodeJS</p>
        <p>Curso Test Unitarios con JUnit</p>
        <p>Curso Spring Boot y Spring MVC</p>
        <p>Curso de desarrollo de una API Rest con Spring Boot</p>
        <p>Curso de Java 8 para programadores Java</p>
        <p>Curso de Hibernate y JPA</p>
        <p>Curso de MongoDB</p>
        <p>Curso de Python 3</p>
        <p>Curso de Java XML</p>
        <p>Curso de Git</p>
      </div>
    </div>
  </section>

  <section class="container-languages">
    <h3>IDIOMAS</h3>
    <div class="container-data-languages">
      <div class="data-languages">
        <p>Lengua materna</p>
        <p>Otros idiomas</p>
      </div>
      <div class="languajes">
        <p>Español</p>
        <p>Inglés</p>
      </div>
      <div class="description-languajes">
        <p>Nativo</p>
        <p>Nivel A1/A2 usuario básico</p>
      </div>
    </div>
  </section>

  <section class="container-skills">
    <h3>HERRAMIENTAS Y TECNOLOGÍAS IT</h3>
    <div class="container-data-skills">
      <div class="data-skills">
        <p>Sistemas</p>
        <p>Desarrollo</p>
      </div>
      <div class="description-skills">
        <p>Linux, Windows , Android, Active Directory, Apache, VirtualBox, VMware, MySQL, MariaDB, MongoDB</p>
        <p>Java, Maven, JPA, Hibernate, Spring Boot, JavaScript, Python, HTML5, CSS3, Bootstrap, JSON,
          XML, Eclipse, Junit, Angular, NodeJS</p>
      </div>
    </div>
  </section>

  <section class="volunteer-experience">
    <h3>EXPERIENCIA DE VOLUNTARIADO</h3>
    <P>Labdoo.org</P>
  </section>
</div>
